# OS
*.log
**/*.log
.DS_Store
**/.DS_Store
.idea
*.iml
# Dependencies
**/node_modules

# React App
build
src/config.js
.env

#Firebase cache
.firebase/**

# Functions
functions/etc
functions/dist
functions/.runtimeconfig.json
functions/coverage
functions/.nyc_output

# Tests
cypress/videos
cypress/screenshots
cypress.env.json
cypress/config.json
serviceAccount.json
